{% extends "index.html" %}
{% block cuerpo %}
<table class = 'tabla'>
    <thead>
        <tr style='padding: 20px 0px;'>
            <th>Tomacorriente</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
    </thead>
    <tbody>
        <tr><!--En el .ino On y Off cambian según se lea el estado de ese toma-->
            <th style='font-weight: bold;'>Estado</th>
            {% for i in dict ["estTomas"] %}
                {% if i == 1 %}
                    <th>On</th>
                {% else %}
                    <th>Off</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th style='font-weight: bold;'>Botón</th>
            <!--
                Los siguientes botones envian 0 o 1 si están prendidos o apagados, eso se configura en el .ino, al igual que diga On u Off
            si el toma está apagado el boton enviará un 1 cuando se pulse y tendrá el texto on, luego se invertirá
            -->
            {% for i in range (1,6) %}
            <th>
                <form action="" method="POST">
                    <input type="submit" name="{{i+1}}"
                    {% if dict ["estTomas"][i]: %}
                        value = "Off"
                    {% else: %} 
                        value= "On"
                    {% endif %} style= 'padding: 5px;'>
                </form>
            </th>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
