{% extends "index.html" %}
{% block cuerpo %}
<table class='tablaTemp'>
    <tbody>
        <tr><!--Título para las opciones-->
            <th><h2>Temperatura máxima</h2></th>
            <th><h2>Temperatura mínima</h2></th>
        </tr>
        <tr><!--
                Esta fila pone los dos formularios para configurar la temperatura, cada uno son dos formularios, uno que engloba
            a la casilla para poner el valor y el botón que luego hace que se envie el formulario
                Los valores max y min se ponen en el .ino a parte ya que cambian segun los otros valores:
                    --Por ejemplo para la temperatura máxima no puede ser menor que la mínima en min se pone en el .ino que min sea la variable de 
                    la temperatura mínima y vicesversa.
                    --Esto es igual que value que en el .ino se pone la misma variable.
                
                Notar que el .ino luego lee la peticion http y si detecta configTemp en cualquiera de los lados sirve esa pestaña, por eso cada input name
            tiene primero puesto configTemp.
            -->
            <th style='padding: 30px 0px;'>
                <form method='POST' name='tempMaxLec'>
                    <input name='tempmax' type='number' max='125' min={{dict['tempMin']}} value = {{dict['tempMax']}} style= 'text-align: left; margin-left: 3px; padding: 2px 2px;'>
                    <form method='POST'>
                        <br><input name='tempMaxB' value='Registrar' type='submit' style= 'padding: 5px 5px;'></br>
                    </form>
                </form>
            </th>
            <th style='padding: 30px 0px;'>
                <form method='POST' name ='tempMinLec' >
                    <input name='tempmin' type='number' min='-40' max={{dict['tempMax']}} value = {{dict['tempMin']}} style= 'text-align: left; margin-left: 3px; padding: 2px 2px;'>
                    <form method='POST'>
                        <br><input name='tempMinB' value='Registrar' type='submit' style= 'padding: 5px 5px;'></br>
                    </form>
                </form>
            </th>
        </tr>
    </tbody>
</table>
<!--Texto de advertencia en rojo como aclaración-->
<p style='color: red;'>*El parametro de temperatura máxima no puede ser menor al de temperatura mínima</p>
{% endblock %}
